<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
		<class name="pl.softace.sms2clipboard.net.autodiscovery.impl.UDPAutoDiscoveryServerTest"/>
		<class name="pl.softace.sms2clipboard.security.AESCryptTest"/>
		<class name="pl.softace.sms2clipboard.net.api.packet.PacketTest"/>
		<class name="pl.softace.sms2clipboard.net.api.server.ApiServerTest"/>
		<class name="pl.softace.sms2clipboard.template.SMSTemplateTest"/>
		<class name="pl.softace.sms2clipboard.template.SMSTemplateManagerTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
